/*universal*/

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
    background-color: #fff;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/*main view*/

.main {
    position: relative; 
}

.main_img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.mainword {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*transformは図形調整する(回転させたりなど)*/

/*topicsのcss*/

.topheader, .info_header{
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

hr {
  border: 0.5px solid #a9a9a9;
  width: 10%;
  margin-top: 2%;
}

.topics_img {
  height: 50px;
}

/*cardsのcss*/

.topics_cards {
  padding: 0 10%;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.card_container {
  max-width: 31.3%;
  margin: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border: solid 1px rgba(0,0,0,0.125);
  border-radius: 0.5%;
}

.card_pic {
  width: 100%;
  border-top-left-radius: 0.5%;
  border-top-right-radius: 0.5%;
  flex-shrink: 0;
}

.card_detail {
  flex: 1 1 auto;
  padding: 20px;
}

.card_title {
  margin-top: 0;
  margin-bottom: 6px;
}

.card_date {
  margin-top: 0;
  margin-bottom: 0;
}

.card_btn {
  border-radius: 0.5%;
  background-color: rgba(0,0,0,.03);
  padding: 12px 20px;
  border-top: 1px solid rgba(0,0,0,.125);
}

.card_btn button {
  background-color: #007bff;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border-color: #007bff;
  border: 1px solid transparent;
  border-radius: 5%;
  vertical-align: middle;
  padding: 6px 12px;
  display: inline-block;
  text-align: center;
}

/*information*/

.information {
  margin-bottom: 100px;
}

.info_header {
  margin-top: 50px;
  margin-bottom: 30px;
}

.info_table table {
  margin: 0 auto;
}

.info_table td, th {
  padding: 20px;
  border-top: solid 1px #a9a9a9;
}

.info_table th {
  width: 50px;
  color: #d2b48c;
  font-weight: 700;
}

.info_table td {
  width: 500px;
}

.info_table a {
  text-decoration: none;
}

.info_table a:hover {
  text-decoration: underline;
  color: #007bff;
}

/*informationの別ページ*/

.info_head {
  padding: 20px 5%;
  margin-bottom: 40px;
  background-color: #fffacd;
}

.info_head p {
  margin-bottom: 10px;
}

.info_contents {
  padding: 0 5% 40px 5%;
}

.info_contents p {
  padding-bottom: 30px; 
}

.info_contents a {
  color: #fff;
  background-color: #000;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 30px 0;
  text-decoration: none;
}